
<!-- Material form subscription -->
<div class="card" style="width: 70%; margin: 0 auto;">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Информация</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!--Grid row-->
        <div class="row" style="color: #757575;">

            {{!-- <p>Join our mailing list. We write rarely, but only the best content.</p>

            <p>
                <a href="" target="_blank">See the last newsletter</a>
            </p> --}}

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
                <p>Марка: {{car.mark}}</p>
                <p>Модель: {{car.model}}</p>
                <p>Год производства: {{car.yearProduct}}</p>
                <p>Цвет: {{car.color}}</p>
                <p>Стоимость: {{car.price}} $</p>
            </div>
            
           <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
    
              <!--Image-->
              <div style="width: 100%; text-align: center;">
                <img src="{{car.pictUrl}}" class="img-fluid"
                  alt="{{car.mark}} {{car.model}}">
              </div>
    
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>

</div>
<!-- Material form subscription -->